<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Playfair+Display|Raleway:400,900|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
</head>

<body>
<div class="main">
  <div class="vertical-center">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
<h1>All articles</h1>
<p><%= link_to "Create new article", new_article_path %></p>

<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
  </tr>
  
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= article.title %>
    </td>
    <td>
      <%= article.description %>
    </td>
    <td>
      <%= link_to 'Edit', edit_article_path(article) %>
    </td>
    <td>
      <%= link_to 'Show', article_path(article) %>
    </td>
    <td>
      <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are your sure?"} %>
    </td>
  </tr>
  <% end %>
</table>
</div></div></div></div></div></body>
<div class="footer"> <div id="child">© 2017. Made by Lex.</div></div>